:root.theme-dark {
  --main-font: "IBM Plex Mono", sans-serif;
  --screen-padding: 20px;
  --main-text-size: 18px;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --theme-color: #000028;
  --max-width: 1024px;
  --text-color: #f1b2ce;
  --main-bg-image: url("../images/cover-image-dark.png");
}

.theme-dark .page {
  font-family: var(--main-font);
  background-image: var(--main-bg-image);
  background-attachment: fixed;
}
