:root.theme-light {
  --main-bg-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --theme-color: #353430;
  --elements-color: var(--theme-color);
  --text-color: var(--theme-color);
}

.theme-light .page {
  background-image: var(--main-bg-image);
}
.theme-light .page .header-decor {
  display: none;
}
