:root {
  --main-font: "IBM Plex Mono", sans-serif;
  --screen-padding: 20px;
  --main-text-size: 18px;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --theme-color: #000028;
  --max-width: 1024px;
  --text-color: #f1b2ce;
  --main-bg-image: url("../images/cover-image-dark.png");
  --elements-color: var(--accent-color);
}
@media (375px <= width < 768px) {
  :root{
    --screen-padding: 10px;
  }}